### Question 1

In [8]:
def categorize_weather(temp):
    if temp < 0 :
        print(f"The temperature is Freezing")
    elif 0 <= temp <= 15:
        print(f"The temperature is Cold")
    elif 16 <= temp <= 30 :
        print(f"The temperature is Warrm")
    else:
        print(f"The temperature is Hot")

In [10]:
# function call
categorize_weather(-2)
categorize_weather(5)
categorize_weather(45)
categorize_weather(19)

The temperature is Freezing
The temperature is Cold
The temperature is Hot
The temperature is Warrm

### Question 2

In [26]:
def calculate_total(x: list):
    ''' 
    Calculate and total a list of item prices
    arguments :
         x(list) : list of item prices [0,100]
    returns :
         total : final price to pay         
    '''    
    total = 0

    # Loop to calculate total
    for price in x:
        total =  total + price

    # Apply discount AFTER summing all prices
    if total > 100:
        discount = total * 0.10
        discount = round(discount, 2)
        total = round(total - discount, 2)
        print(f"10% Discount applied: -${discount}")

    return total

In [28]:
# Call function
price = [20,50,40,10]
calculate_total(price)

10% Discount applied: -$12.0

108.0

### Question 3

In [39]:
current_year = 2025
try:
    birth_year = int(input('enter your birth year :'))
    result = current_year - birth_year
    print(f" Your age is : {result} ")
except ValueError:
    print(f"Invalid Input ! Please enter a number")

Invalid Input ! Please enter a number

### Question 4

In [73]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Diana'], 'Salary': [50000, 60000, 55000, 70000]}
df = pd.DataFrame(data)
df.head()

      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   55000
3    Diana   70000

In [71]:
# define function
def get_bonus(salary : int):
    if salary < 60000:
         return round(salary * 0.05,0)
    else :
       return round(salary * 0.02,0)

In [72]:
# call function
df['Bonus_Amount'] = df['Salary'].apply(get_bonus)
print(df)

      Name  Salary  Bonus_Amount
0    Alice   50000        2500.0
1      Bob   60000        1200.0
2  Charlie   55000        2750.0
3    Diana   70000        1400.0